.home-page {
	ion-card {
		margin-top: 40%;
	}
	p {
		text-align: center;
	}

	.result {
		color: map-get($colors, secondary);
	}

	.error {
		color: map-get($colors, danger);
		font-size: 18px;
	}
}
